.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.feature-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  text-align: center;
}

.feature-icon {
  height: 50px; // Ajustez la hauteur des icônes selon vos besoins
  width: 50px;
  margin-bottom: 15px;
}

.feature-item-title {
  font-size: 20px;
  margin: 10px 0;
}
